@import "../../global.scss";

.about {
  background-color: $thiColor;
  display: flex;
  color: $textLight;
  background-size: 400px;
  background-attachment: fixed;

  @media screen and (max-width: $scrSmall) {
    flex-direction: column;
  }

  .left {
    flex: 0.5;
    position: relative;
    background-color: $fourColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    @media screen and (max-width: $scrSmall) {
      flex: 100%;
    }
    h2 {
      font-size: $secHead;
      margin: auto 0 0 0;

      @media screen and (max-width: $scrSmall) {
        font-size: $smallSecHead;
        margin: auto 0 0 0;
      }
    }

    p {
      font-size: 25px;
      margin: 0 20px;
      width: 70%;
      margin: auto 0;

      a {
        color: $mainColor;
        background: none;
        padding: 2px;
        margin: 2px;
        font-size: 25px;
      }

      @media screen and (max-width: $scrSmall) {
        font-size: 20px;
      }
    }

    a {
      background-color: $mainColor;
      padding: 10px 20px;
      margin-top: 40px;
      text-decoration: none;
      color: $textLight;
      border-radius: 4px;
      margin: auto 0;
      transition: all 0.5s ease;
      font-size: 30px;
      margin: 0 0 auto 0;

      @media screen and (max-width: $scrSmall) {
        font-size: 30px;
        margin: 0 0 auto 0;
      }

      &:hover {
        background-color: $secColor;
        color: $textLight;
      }
    }
  }

  .right {
    flex: 0.5;

    @media screen and (max-width: $scrSmall) {
      display: none;
    }

    .imageContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
