@import "../../global.scss";

.portfoiloList {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  color: $textLight;
  transition: all 0.2s ease;

  &.active {
    background-color: $mainColor;
    color: $textDark;

    &:hover {
      background-color: $mainColor;
      color: $textDark;
    }
  }

  &:hover {
    background-color: $thiColor;
    color: $textLight;
  }
}
