$mainColor: #21e6c1;
$secColor: #278ea5;
$thiColor: #1f4287;
$fourColor: #071e3d;

$dark: #071e3d;
$light: black;

$textDark: black;
$textLight: white;

// Font sizes
$secHead: 60px;
$smallText: 17px;
$smallSecHead: 40px;

// Screen sizes

$scrSmall: 830px;
